<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Superheroes!</title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form method="post" action="/teams">
      <p>Team Name: <input type="text" name="params[:team][:name]"></p>
      <p>Team Motto: <input type="text" name="params[:team][:motto]"
    </form>
  </body>
</html>
